<h1>BURGERS!</h1>

<form>
  <div class="form-group">
    <label for="add-burger">Burger Name</label>
    <input type="text" class="form-control" id="add-burger" aria-describedby="emailHelp">
  <button type="submit" id="burger-submit" class="btn btn-primary">Submit</button>
</form>